.sos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.sos-button {
  height: 140px;
  font-size: 40px;
  border-radius: 30px;
}

.confirmation {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
}
