.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  padding: 16px 24px;
  background: white;
  border-radius: 18px;
  position: relative;
}

.right-zone {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-left: auto;
  flex-shrink: 0;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.notification-wrapper {
  position: relative;
}

.notification-menu {
  position: absolute;
  top: 54px;
  right: 0;

  width: 360px;
  z-index: 9999;
}
